<h3>@Html.ActionLink("2. & 3. XXS", "Phishing", "Home", new { target = "_blank" })</h3>
<h3>@Html.ActionLink("4. Iframe", "Frame", "Home", new { target = "_blank" })</h3>
<h3>@Html.ActionLink("5. OTP-SMS", "Index", "SMS")</h3>
<h3>@Html.ActionLink("5. TOTP", "Index", "GAuth")</h3>
<h3>@Html.ActionLink("6. SSO", "Index", "SSo")</h3>
<h3>@Html.ActionLink("x. Cookie", "Index", "Cookie")</h3>
<h3>@Html.ActionLink("10. DB XSS/SQL Injection", "Index", "SQL_XSS")</h3>
<h3>@Html.ActionLink("10. Textbox Script", "Feedback", "SQL_XSS")</h3>
<h3>@Html.ActionLink("11. & 12. Encryption", "Index", "Encryption")</h3>
<h3>@Html.ActionLink("13. Self Signed Certificate", "Https", "Home")</h3>
<h3>@Html.ActionLink("14. Logging and Audit Trails", "DoLogin", "Logging")</h3>
