@model M183.Models.CookieLogin

<html>
<body>
    @using (Html.BeginForm())
    {
        <div class="bs-example">

            <div class="form-group centerlook">
                <h1> Login </h1>
            </div>

            <div class="form-group centerlook">
                <label>Username </label>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="form-group centerlook">
                <label>Password</label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password)

            </div>
            <div class="form-group error">
                @if (@ViewBag.Failedcount != null)
                {

                    <label> Failed Attempt count is: @ViewBag.Failedcount</label>
                }

                @if (@ViewBag.NotValidUser != null)
                {

                    <label> @ViewBag.NotValidUser</label>
                }
            </div>
            <div class="loginbtn">

                <input type="submit" value="Login" class="btn btn-basic" style="display:block;" />
            </div>


        </div>
    }
</body>
</html>

