<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M183 Yannick Burkart</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <!--Use own key-->
    <meta name="google-signin-client_id" content="**********************djg.apps.googleusercontent.com" />

    <meta name="google-signin-client_id" content="***********************djg.apps.googleusercontent.com" />

    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div>
            <label class="mobile_menu" for="mobile_menu">
                <span>Menu</span>
            </label>
            <input id="mobile_menu" type="checkbox">
            <ul class="nav">
                <li><a href="http://localhost:54378/"<i class="icon-home icon-large"></i></a></li>


                <!----- Full Drop Down Name ---->
                <li class="dropdown">
                    <a href="#">Tasks</a>
                    <!----- Full Drop Down Name Ends Here ---->
                    <!----- Full Drop Down Contents  Starts Here---->

                    <div class="fulldrop">
                        <div class="column">
                            <h3></h3>
                            <ul>
                                <li>@Html.ActionLink("2. & 3. XXS", "Phishing", "Home", new { target = "_blank" })</li>
                                <li>@Html.ActionLink("4. Iframe", "Frame", "Home", new { target = "_blank" })</li>
                                <li>@Html.ActionLink("5. OTP-SMS", "Index", "SMS")</li>
                                <li>@Html.ActionLink("5. TOTP", "Index", "GAuth")</li>
                                <li>@Html.ActionLink("6. SSO", "Index", "SSo")</li>
                            </ul>
                        </div>



                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li>@Html.ActionLink("x. Cookie", "Index", "Cookie")</li>
                                <li>@Html.ActionLink("10. DB XSS/SQL Injection", "Index", "SQL_XSS")</li>
                                <li>@Html.ActionLink("10. Textbox Script", "Feedback", "SQL_XSS")</li>
                                <li>@Html.ActionLink("11. & 12. Encryption", "Index", "Encryption")</li>
                                <li>@Html.ActionLink("13. Self Signed Certificate", "Https", "Home")</li>
                            </ul>
                        </div>


                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li>@Html.ActionLink("14. Logging and Audit Trails", "DoLogin", "Logging")</li>
                            </ul>
                        </div>

                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>


                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>


                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!----- Full Drop Down Contents  Ends  Here---->
                <!----- Full Drop Down Name ---->
                <li class="dropdown">
                    <a href="#">Drop Down Menu</a>
                    <!----- Full Drop Down Name Ends Here ---->
                    <!----- Full Drop Down Contents  Starts Here---->

                    <div class="fulldrop">
                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>



                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>


                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>


                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>


                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>


                        <div class="column">
                            <h3>Menu Header</h3>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!----- Full Drop Down Contents  Ends  Here---->
                <!----- Regular Menu Button ---->
                <li><a href="#">Link</a></li>
                <!----- Regular Menu Button Ends---->
                <!----- Regular Menu Button ---->
                <li><a href="#">Link 2</a></li>
                <!----- Regular Menu Button Ends---->
                <!----- Regular Menu Button ---->
                <li><a href="#">Link 3</a></li>
                <!----- Regular Menu Button Ends---->
                <!----- Regular Menu Button ---->
                <li><a href="#" onclick="signOut();">sign out</a></li>
                <!----- Regular Menu Button Ends---->
                <!----- Search Form Starts---->
                <li class="search">
                    <form action="Search.php">
                        <i class="icon-search icon-large"></i><input type="text" placeholder="out of order">
                    </form>
                </li>
                <!----- Search Form Ends ---->


            </ul>
        </div>
    </div>
    <br />
    <div id="content">
        @RenderBody()
    </div>
    @* Scripts to display the google login button and to login via google *@
    <script>
        function onSuccess(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId());
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
            console.log('ID-TOKEN: ' + id_token);
            console.log('Logged in as: ' + googleUser.getBasicProfile().getName());

            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:54378/SSo/SSOTokenSignin');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                console.log('Signed in as: ' + xhr.responseText);
            };
            xhr.send('idtoken=' + id_token);
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signet out.');
            });
        }
        
        function onFailure(error) {
            console.log(error);
        }
        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
            });
        }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>